net "mode[0]" loc = p24;
net "mode[1]" loc = p3;

net "clk" loc = p80;

net "LED1[0]" loc = p93;
net "LED1[1]" loc = p94;
net "LED1[2]" loc = p95;

net "LED2[0]" loc = p96;
net "LED2[1]" loc = p97;
net "LED2[2]" loc = p100;